In [50]:
import pandas as pd
import numpy as np

Reading file 1

In [51]:
data1 = pd.read_csv('..\\data\\raw\\Fahrraddiebstahl.csv', sep=',', encoding='iso-8859-1')
data1

,ANGELEGT_AM,TATZEIT_ANFANG_DATUM,TATZEIT_ANFANG_STUNDE,TATZEIT_ENDE_DATUM,TATZEIT_ENDE_STUNDE,LOR,SCHADENSHOEHE,VERSUCH,ART_DES_FAHRRADS,DELIKT,ERFASSUNGSGRUND
0,30.09.2023,29.09.2023,6,29.09.2023,15,6100102,770,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
1,30.09.2023,29.09.2023,16,30.09.2023,5,3200207,0,Nein,Mountainbike,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
2,30.09.2023,28.09.2023,12,30.09.2023,11,4300412,1058,Nein,diverse Fahrräder,Keller- und Bodeneinbruch,Sonstiger schwerer Diebstahl in/aus Keller/Bod...
3,30.09.2023,29.09.2023,19,30.09.2023,8,9502042,200,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
4,30.09.2023,30.09.2023,13,30.09.2023,14,3601243,489,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
...,...,...,...,...,...,...,...,...,...,...,...
39651,02.01.2022,02.01.2022,8,02.01.2022,17,7200413,660,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
39652,01.01.2022,01.01.2022,14,01.01.2022,14,3601142,1000,Nein,Herrenfahrrad,Fahrraddiebstahl,Einfacher Diebstahl von Fahrrädern
39653,01.01.2022,01.01.2022,16,01.01.2022,19,2400623,1754,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
39654,01.01.2022,01.01.2022,4,01.01.2022,8,2100106,190,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
39655,01.01.2022,01.01.2022,20,01.01.2022,20,1300730,150,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern

In [52]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39656 entries, 0 to 39655
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ANGELEGT_AM            39656 non-null  object
 1   TATZEIT_ANFANG_DATUM   39656 non-null  object
 2   TATZEIT_ANFANG_STUNDE  39656 non-null  int64
 3   TATZEIT_ENDE_DATUM     39656 non-null  object
 4   TATZEIT_ENDE_STUNDE    39656 non-null  int64
 5   LOR                    39656 non-null  int64
 6   SCHADENSHOEHE          39656 non-null  int64
 7   VERSUCH                39656 non-null  object
 8   ART_DES_FAHRRADS       39656 non-null  object
 9   DELIKT                 39656 non-null  object
 10  ERFASSUNGSGRUND        39656 non-null  object
dtypes: int64(4), object(7)
memory usage: 3.3+ MB

1.1. Data Cleaning 
     Translation Column Names

In [53]:
data1.rename(columns={
    "ANGELEGT_AM": "called_at_date",
    "TATZEIT_ANFANG_DATUM": "start_date_incident",
    "TATZEIT_ENDE_DATUM": "end_date_incident",
    "TATZEIT_ANFANG_STUNDE": "start_time_crime",
    "TATZEIT_ENDE_STUNDE": "end_time_crime",
    "LOR": "lor",
    "SCHADENSHOEHE": "loss_amount",
    "VERSUCH": "attempt",
    "ART_DES_FAHRRADS": "bicycle_type",
    "DELIKT": "crime_type",
    "ERFASSUNGSGRUND": "record_type"
}, inplace=True)
data1.columns

Index(['called_at_date', 'start_date_incident', 'start_time_crime',
       'end_date_incident', 'end_time_crime', 'lor', 'loss_amount', 'attempt',
       'bicycle_type', 'crime_type', 'record_type'],
      dtype='object')

1.1. Data Cleaning 
     Translation Values File 1

In [54]:
data1['attempt'].unique()

array(['Nein', 'Ja', 'Unbekannt'], dtype=object)

In [55]:
data1['attempt'].replace({'Nein': 'No', 'Ja': 'Yes', 'Unbekannt': 'Unknown'}, inplace=True)

In [56]:
data1['bicycle_type'].unique()

array(['Fahrrad', 'Mountainbike', 'diverse Fahrräder', 'Damenfahrrad',
       'Herrenfahrrad', 'Kinderfahrrad', 'Rennrad', 'Lastenfahrrad'],
      dtype=object)

In [57]:
data1['bicycle_type'].replace({'Fahrrad': 'Bicycle', 
                               'Mountainbike': 'Mountain Bike', 
                               'diverse Fahrräder': 'Other Bicycle',
                               'Damenfahrrad': 'Ladies Bicycle',
                               'Herrenfahrrad': 'Mans Bicycle',
                               'Kinderfahrrad': 'Childrens Bicycle',
                               'Rennrad': 'Racing Bicycle',
                               'Lastenfahrrad': 'Cargo Bicycle',
                              }, inplace=True)

In [58]:
data1['crime_type'].unique()

array(['Fahrraddiebstahl', 'Keller- und Bodeneinbruch'], dtype=object)

In [59]:
data1['crime_type'].replace({'Fahrraddiebstahl': 'Bicycle Theft', 'Keller- und Bodeneinbruch': 'Cellar or Property Break and Enter'}, inplace=True)

In [60]:
data1['crime_type'].unique()

array(['Bicycle Theft', 'Cellar or Property Break and Enter'],
      dtype=object)

In [61]:
data1['record_type'].unique()

array(['Sonstiger schwerer Diebstahl von Fahrrädern',
       'Sonstiger schwerer Diebstahl in/aus Keller/Boden von Fahrrädern',
       'Einfacher Diebstahl von Fahrrädern',
       'Einfacher Diebstahl aus Keller/Boden von Fahrrädern'],
      dtype=object)

In [62]:
data1['record_type'].replace({'Sonstiger schwerer Diebstahl von Fahrrädern': 'Miscellaneous Aggravated Bicycle Theft', 
                               'Sonstiger schwerer Diebstahl in/aus Keller/Boden von Fahrrädern': 'Miscellaneous Aggravated Theft from Bicycle Cellar', 
                               'Einfacher Diebstahl von Fahrrädern': 'Simple Bicycle Theft',
                               'Einfacher Diebstahl aus Keller/Boden von Fahrrädern': 'Simple Theft from Bicycle Cellar',
                              }, inplace=True)

Reading File 2

In [63]:
data2=pd.read_csv('..\\data\\raw\\AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2021_Datensatz.csv', sep=';')
data2

,OBJECTID,LAND,BEZ,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,219249,11,3,3701658.0,2021,11,18,2,3,0,...,1,0,1,0,0,1,"800202,0742","5829640,204","13,42689483","52,53393955"
1,219248,11,7,7501134.0,2021,12,19,7,3,6,...,1,1,0,0,0,1,"798479,5317","5819049,219","13,39209027","52,43995086"
2,219247,11,4,4100101.0,2021,12,17,4,3,5,...,1,0,0,0,0,0,"793352,6128","5829680,195","13,32624193","52,53802784"
3,219246,11,4,4501041.0,2021,12,15,7,3,5,...,1,0,1,0,0,1,"792950,0395","5825362,081","13,31652064","52,49953417"
4,219243,11,11,11501339.0,2021,12,9,5,3,3,...,1,0,0,0,1,2,"807182,01","5825602,793","13,52575163","52,49386714"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11262,112174,11,4,4300414.0,2021,3,16,4,3,6,...,1,1,0,0,0,1,"791505,4105","5826555,664","13,29634478","52,51100814"
11263,111541,11,4,4400726.0,2021,1,1,6,3,9,...,1,0,0,0,0,0,"791154,679","5824616,757","13,28949592","52,49381321"
11264,110370,11,3,2400520.0,2021,1,20,1,3,3,...,1,0,0,0,0,1,"799988,2122","5828912,431","13,42309463","52,52753402"
11265,109998,11,7,7300619.0,2021,1,14,7,3,2,...,1,0,0,0,0,1,"796018,2589","5822739,196","13,35925879","52,47436651"
11266,109753,11,12,12400723.0,2021,1,14,2,3,5,...,1,0,0,0,1,1,"791884,0985","5839010,713","13,31286818","52,6224611"

In [64]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11267 entries, 0 to 11266
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OBJECTID     11267 non-null  int64
 1   LAND         11267 non-null  int64
 2   BEZ          11267 non-null  int64
 3   LOR_ab_2021  11266 non-null  float64
 4   UJAHR        11267 non-null  int64
 5   UMONAT       11267 non-null  int64
 6   USTUNDE      11267 non-null  int64
 7   UWOCHENTAG   11267 non-null  int64
 8   UKATEGORIE   11267 non-null  int64
 9   UART         11267 non-null  int64
 10  UTYP1        11267 non-null  int64
 11  ULICHTVERH   11267 non-null  int64
 12  IstRad       11267 non-null  int64
 13  IstPKW       11267 non-null  int64
 14  IstFuss      11267 non-null  int64
 15  IstKrad      11267 non-null  int64
 16  IstGkfz      11267 non-null  int64
 17  IstSonstige  11267 non-null  int64
 18  USTRZUSTAND  11267 non-null  int64
 19  LINREFX      11267 non-null  object
 20  LINREFY      11267 non-null  object
 21  XGCSWGS84    11267 non-null  object
 22  YGCSWGS84    11267 non-null  object
dtypes: float64(1), int64(18), object(4)
memory usage: 2.0+ MB

1.1. Data Cleaning 
     Translation Column Names File 2

In [65]:
data2.rename(columns={
    "OBJECTID": "object_id",
    "LAND": "federal_state",
    "BEZ": "district",
    "LOR_ab_2021": "lor_2021",
    "STRASSE": "street",
    "UJAHR": "year_accident",
    "UMONAT": "month_accident",
    "USTUNDE": "hour_accident",
    "UWOCHENTAG": "weekday",
    "UKATEGORIE": "accident_category",
    "UART": "accident_type",
    "UTYP1": "accident_subtype",
    "ULICHTVERH": "light_conditions",
    "IstRad": "accident_involving_bicycle",
    "IstPKW": "accident_involving_passenger_car",
    "IstFuss": "accident_involving_pedestrian",
    "IstKrad": "accident_involving_motorcycle",
    "IstGkfz": "accident_involving_truck",
    "IstSonstige": "accident_involving_other",
    "USTRZUSTAND": "road_condition",
    "LINREFX": "coordinates_1a",
    "LINREFY": "coordinates_2a",
    "XGCSWGS84": "coordinates_1b",
    "YGCSWGS84": "coordinates_2b",   
}, inplace=True)
data2.columns

Index(['object_id', 'federal_state', 'district', 'lor_2021', 'year_accident',
       'month_accident', 'hour_accident', 'weekday', 'accident_category',
       'accident_type', 'accident_subtype', 'light_conditions',
       'accident_involving_bicycle', 'accident_involving_passenger_car',
       'accident_involving_pedestrian', 'accident_involving_motorcycle',
       'accident_involving_truck', 'accident_involving_other',
       'road_condition', 'coordinates_1a', 'coordinates_2a', 'coordinates_1b',
       'coordinates_2b'],
      dtype='object')

1.3 Check for missing values and duplicates

In [66]:
missing_values = data1.isna()
missing_counts = missing_values.sum()
missing_counts

called_at_date         0
start_date_incident    0
start_time_crime       0
end_date_incident      0
end_time_crime         0
lor                    0
loss_amount            0
attempt                0
bicycle_type           0
crime_type             0
record_type            0
dtype: int64

There are no missing values, but in the column 'attempt' there is an unique value 'unknown', which will be left as it is,
as we don`t need this column for the analysis.

Checking for duplicates

In [67]:
duplicates = data1.duplicated()
duplicates.unique()

array([False,  True])

In [68]:
duplicates.sum()/39656*100

0.21938672584224328

Percentage of duplicates is so low <1%, that we can proceed to drop the duplicated raws.

In [69]:
data1.drop_duplicates()

,called_at_date,start_date_incident,start_time_crime,end_date_incident,end_time_crime,lor,loss_amount,attempt,bicycle_type,crime_type,record_type
0,30.09.2023,29.09.2023,6,29.09.2023,15,6100102,770,No,Bicycle,Bicycle Theft,Miscellaneous Aggravated Bicycle Theft
1,30.09.2023,29.09.2023,16,30.09.2023,5,3200207,0,No,Mountain Bike,Bicycle Theft,Miscellaneous Aggravated Bicycle Theft
2,30.09.2023,28.09.2023,12,30.09.2023,11,4300412,1058,No,Other Bicycle,Cellar or Property Break and Enter,Miscellaneous Aggravated Theft from Bicycle Ce...
3,30.09.2023,29.09.2023,19,30.09.2023,8,9502042,200,No,Ladies Bicycle,Bicycle Theft,Miscellaneous Aggravated Bicycle Theft
4,30.09.2023,30.09.2023,13,30.09.2023,14,3601243,489,No,Ladies Bicycle,Bicycle Theft,Miscellaneous Aggravated Bicycle Theft
...,...,...,...,...,...,...,...,...,...,...,...
39651,02.01.2022,02.01.2022,8,02.01.2022,17,7200413,660,No,Ladies Bicycle,Bicycle Theft,Miscellaneous Aggravated Bicycle Theft
39652,01.01.2022,01.01.2022,14,01.01.2022,14,3601142,1000,No,Mans Bicycle,Bicycle Theft,Simple Bicycle Theft
39653,01.01.2022,01.01.2022,16,01.01.2022,19,2400623,1754,No,Mans Bicycle,Bicycle Theft,Miscellaneous Aggravated Bicycle Theft
39654,01.01.2022,01.01.2022,4,01.01.2022,8,2100106,190,No,Mans Bicycle,Bicycle Theft,Miscellaneous Aggravated Bicycle Theft
39655,01.01.2022,01.01.2022,20,01.01.2022,20,1300730,150,No,Mans Bicycle,Bicycle Theft,Miscellaneous Aggravated Bicycle Theft

In [70]:
missing_values = data2.isna()
missing_counts = missing_values.sum()
missing_counts

object_id                           0
federal_state                       0
district                            0
lor_2021                            1
year_accident                       0
month_accident                      0
hour_accident                       0
weekday                             0
accident_category                   0
accident_type                       0
accident_subtype                    0
light_conditions                    0
accident_involving_bicycle          0
accident_involving_passenger_car    0
accident_involving_pedestrian       0
accident_involving_motorcycle       0
accident_involving_truck            0
accident_involving_other            0
road_condition                      0
coordinates_1a                      0
coordinates_2a                      0
coordinates_1b                      0
coordinates_2b                      0
dtype: int64

There is only one missing value in the column 'lor_2021', dropping it will not affect our analysis significantly.

In [71]:
data2[data2['lor_2021'].isna()==True]

,object_id,federal_state,district,lor_2021,year_accident,month_accident,hour_accident,weekday,accident_category,accident_type,...,accident_involving_passenger_car,accident_involving_pedestrian,accident_involving_motorcycle,accident_involving_truck,accident_involving_other,road_condition,coordinates_1a,coordinates_2a,coordinates_1b,coordinates_2b
4766,214125,11,9,NaN,2021,8,10,2,3,0,...,1,0,0,0,0,0,"808645,9485","5815247,518","13,53768007","52,40023729"

In [72]:
data2.replace('NaN', np.nan, inplace=True)
data2.dropna(inplace=True)

In [73]:
data2[data2['lor_2021'].isna()==True]

Empty DataFrame
Columns: [object_id, federal_state, district, lor_2021, year_accident, month_accident, hour_accident, weekday, accident_category, accident_type, accident_subtype, light_conditions, accident_involving_bicycle, accident_involving_passenger_car, accident_involving_pedestrian, accident_involving_motorcycle, accident_involving_truck, accident_involving_other, road_condition, coordinates_1a, coordinates_2a, coordinates_1b, coordinates_2b]
Index: []

[0 rows x 23 columns]

In [74]:
duplicates = data2.duplicated()
duplicates.unique()

array([False])

There are no duplicates in File 2.

1.4. Checking data types

In [75]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39656 entries, 0 to 39655
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   called_at_date       39656 non-null  object
 1   start_date_incident  39656 non-null  object
 2   start_time_crime     39656 non-null  int64
 3   end_date_incident    39656 non-null  object
 4   end_time_crime       39656 non-null  int64
 5   lor                  39656 non-null  int64
 6   loss_amount          39656 non-null  int64
 7   attempt              39656 non-null  object
 8   bicycle_type         39656 non-null  object
 9   crime_type           39656 non-null  object
 10  record_type          39656 non-null  object
dtypes: int64(4), object(7)
memory usage: 3.3+ MB

In [76]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11266 entries, 0 to 11266
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   object_id                         11266 non-null  int64
 1   federal_state                     11266 non-null  int64
 2   district                          11266 non-null  int64
 3   lor_2021                          11266 non-null  float64
 4   year_accident                     11266 non-null  int64
 5   month_accident                    11266 non-null  int64
 6   hour_accident                     11266 non-null  int64
 7   weekday                           11266 non-null  int64
 8   accident_category                 11266 non-null  int64
 9   accident_type                     11266 non-null  int64
 10  accident_subtype                  11266 non-null  int64
 11  light_conditions                  11266 non-null  int64
 12  accident_involving_bicycle        11266 non-null  int64
 13  accident_involving_passenger_car  11266 non-null  int64
 14  accident_involving_pedestrian     11266 non-null  int64
 15  accident_involving_motorcycle     11266 non-null  int64
 16  accident_involving_truck          11266 non-null  int64
 17  accident_involving_other          11266 non-null  int64
 18  road_condition                    11266 non-null  int64
 19  coordinates_1a                    11266 non-null  object
 20  coordinates_2a                    11266 non-null  object
 21  coordinates_1b                    11266 non-null  object
 22  coordinates_2b                    11266 non-null  object
dtypes: float64(1), int64(18), object(4)
memory usage: 2.1+ MB

All of the columns with date values are of type object and in order to be able to work with them, we need to transform them 
in format pd.datetime.

In [77]:
data1['start_date_incident'] = pd.to_datetime( data1['start_date_incident'], dayfirst = True )

In [78]:
data1['end_date_incident'] = pd.to_datetime( data1['end_date_incident'], dayfirst = True )

Transforming values of 'lor' in order to use them to assign the district, as we know that the first 1 or 2 digits represent the number of the district.

In [79]:
data1['lor']=data1['lor'].astype(str)

Adding district names instead of numbers to our dataframes.

In [80]:

def extract_district_num(data):
    ''' This function checks the length of the string
        and if lenght is 7 adds the first element of the 
        string to a list with district numbers. 
        If the lenght is 8 it adds the first two elements to the list'''
    district_num=[]
    for lor in data['lor']:
        if len(lor) == 7:
            district_num.append(lor[0])  
        elif len(lor) == 8:
            district_num.append(lor[0:2]) 

    return district_num

In [81]:
district_numbers = extract_district_num(data1)

Now we add the values from the list to a new column

In [82]:
data1['district'] = district_numbers

In [83]:
data2['district'] = data2['district'].astype(str)

In [84]:
district_names = {
    '1': 'Mitte',
    '2': 'Friedrichshain-Kreuzberg',
    '3': 'Pankow',
    '4': 'Charlottenburg-Wilmersdorf',
    '5': 'Spandau',
    '6': 'Steglitz-Zehlendorf',
    '7': 'Tempelhof-Schoeneberg',
    '8': 'Neukoelln',
    '9': 'Treptow-Koepenick',
    '10': 'Marzahn-Hellersdorf',
    '11': 'Lichtenberg',
    '12': 'Reinickendorf',
}

In [85]:
def convert_district_num_to_name(data,column_name):
    '''This function checks the district number and overwrites 
       the value with the corresponding district name from a dictionary'''
    data[column_name] = data[column_name].map(district_names)
    return data

In [86]:
data1 = convert_district_num_to_name(data1, 'district')

In [87]:
data2 = convert_district_num_to_name(data2, 'district')

We need only the data on accidents involving a bicycle so we are going to filter data2 accordingly

In [88]:
data2 = data2[data2['accident_involving_bicycle'] == 1]

In [89]:
data2.reset_index()

,index,object_id,federal_state,district,lor_2021,year_accident,month_accident,hour_accident,weekday,accident_category,...,accident_involving_passenger_car,accident_involving_pedestrian,accident_involving_motorcycle,accident_involving_truck,accident_involving_other,road_condition,coordinates_1a,coordinates_2a,coordinates_1b,coordinates_2b
0,18,219221,11,Charlottenburg-Wilmersdorf,4500939.0,2021,12,18,4,3,...,1,0,0,0,0,0,"792439,7595","5824095,448","13,30791309","52,48845278"
1,24,219214,11,Mitte,1100102.0,2021,12,9,2,3,...,1,0,0,0,0,1,"796973,1702","5826579,744","13,37669957","52,50827479"
2,38,219193,11,Spandau,5100209.0,2021,12,18,4,3,...,1,0,0,0,0,0,"783320,2118","5830271,905","13,17922829","52,54864203"
3,40,219190,11,Mitte,1100310.0,2021,12,12,6,3,...,1,0,0,0,0,0,"799021,6282","5828725,878","13,40872126","52,52639286"
4,41,219189,11,Pankow,3601451.0,2021,12,17,5,2,...,1,0,0,0,0,0,"801364,4615","5829700,555","13,44403463","52,53383903"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4246,11245,112212,11,Friedrichshain-Kreuzberg,2500727.0,2021,8,15,4,3,...,0,0,0,0,0,0,"802141,8982","5827763,741","13,45370173","52,51604902"
4247,11251,112197,11,Tempelhof-Schoeneberg,7501133.0,2021,6,11,5,3,...,0,0,0,0,1,0,"797513,4757","5818141,142","13,37711181","52,43233722"
4248,11257,112184,11,Marzahn-Hellersdorf,10400940.0,2021,7,20,6,3,...,1,0,0,0,0,0,"812566,7795","5827181,034","13,60629112","52,50495334"
4249,11258,112182,11,Treptow-Koepenick,9100101.0,2021,9,19,4,3,...,1,0,0,0,0,1,"802664,0378","5825207,751","13,45904954","52,49285035"
4250,11260,112180,11,Friedrichshain-Kreuzberg,2200208.0,2021,8,10,3,2,...,0,0,0,0,0,0,"797898,6687","5825137,375","13,38900556","52,49484111"

Determining if the theft happened during night or day with a funtion and applying on the dataset by creating a new columnn with the information:
- data from 4 columns : start date, end date, start time, end time
- night time definition in Germany 22:00 - 06:00
- check if start date is the same as end date and if start time and end time are between 6 and 22 -> day, else night
- check if end date is the next day and time is between 22 and 6 then -> night
- in any other case it can not be confirmed if the theft happened during day or night so it`s unknown

In [90]:
def day_night(row):
    if row["end_date_incident"] == row["start_date_incident"]:
        if row["start_time_crime"]>=6 and row["end_time_crime"]<22:
            return "day"
        else:
            return "night"
    elif row["end_date_incident"]-row["start_date_incident"] == pd.Timedelta(days=1):
        if row["start_time_crime"]>=22 and row["end_time_crime"]<6:
            return "night"
        else:
            return "unknown"
    else:
        return "unknown"

In [91]:
data1['Time_of_theft']=data1.apply(day_night,axis=1)

In [92]:
data1['Time_of_theft'].value_counts()

Time_of_theft
unknown    19003
day        16486
night       4167
Name: count, dtype: int64

Last step is to create a filtered copy of data1 according to year, as it comtains data from both 2022 adn 2023, and reset index. We are going to concentrate on 2022.

In [93]:
data1_2022 = data1[data1['end_date_incident'].dt.strftime('%Y') == '2022']
data1_2022.reset_index(inplace=True)

In [94]:
data1_2022.to_csv('..\\data\\clean\\theft_stats_clean.csv',index = False, sep=";")

In [95]:
data2.to_csv('..\\data\\clean\\traffic_accidents_stats_clean.csv',index = False, sep=";")